.form-display{
    height: 100vh;
    background-image: url('../../assets/images/loginimage.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;
}


















.login-btn, .register-btn{
    background-color: black;

    &:hover{
        background-color: transparent;
        color: black;
    }
}