:root{
  --small-font: 12px;
  --heading-font-size: 28px;
  --title-font-size: 17px;
   --font-family: 'Poppins', sans-serif;
   --spacing-gap: 0.4rem;
  --black-a08: rgba(0,0,0,0.08);
  --black-color: rgb(0, 0, 0);

}


.link{
  text-decoration: none;
  color: var(--black-color);
  font-family: var(--font-family);

  &:hover{
    color: var(--main-color);
  }
}


.Post-heading {
  font-size: var(--heading-font-size);
  text-transform: uppercase;
}

.Post-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  

  .card-body {
    border: none;
    border-radius: 9px;
    height: auto;
    padding: 0;
    background-color: var(--White-color);
    margin: .1em;

  }


  }

  .card-header {
    background-color: transparent;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.167);
    text-decoration: none;


    .card-title{
      text-decoration: none;
      font-size: var(--title-font-size);
      font-weight: 500;
      text-transform: capitalize;
      padding: .1em;
    }

    .card-header-image {
      width: 50px;
      height: 50px;
    }

    
  }
  .card-text{
      font-size: 14px;
      font-family: var(--font-family);
      padding: 8px 16px;
      height: auto;
      overflow: hidden;
      text-transform: capitalize;
    }

    .show-more-text{
      border: none;
      background: transparent;
      font-size: 10px;
      color: #004696;
    }

  .card-container {
    display: flex;
    gap: 1em;


    .card-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 0;
    }
  }
  .card-count-container{
    display: flex;
    justify-content: space-between;
    margin: 0 1.6rem;
    overflow: hidden;
    padding: 0.8rem 0;
    border-bottom: 1px solid var(--black-a08);
    font-size: var(--small-font);
  }
  .card-count-item{
    display: flex;
    align-items: center;
  }

  .comment-button-container {
    height: 50px;
    width: 100%;
  }

  .comment-card-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .comment-button{
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 12px;
    padding: 10px 35px;

    &:hover{
      background-color: #9b9b9b22;
      color: black;
    }
  }
  

  .react-button {
    width: 100%;
    border: none;
    color: black;
    font-size: 12px;
    padding: 10px 25px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #9b9b9b22;
      color: black;
    }
  }

.create-post-btn{
  border: none;
  background-color: #0077B7;
  font-size: 12px;

  &:hover{
    background-color: #ffff;
    color: #000000;
  }
}

.react-button.is-clicked {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}