:root{
  --small-font: 12px;
  --heading-font-size: 28px;
  --title-font-size: 17px;
   --font-family: 'Poppins', sans-serif;
   --spacing-gap: 0.4rem;
  --black-a08: rgba(0,0,0,0.08);

  // color
  --main-color: #000000;
}


.link{
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--font-family);

  &:hover{
    color: var(--main-color);
  }
}


.Post-heading {
  font-size: var(--heading-font-size);
  text-transform: uppercase;
  padding-left: .5em;
}

.Post-container {
  min-height: 100vh;
  background-color: var(--Home-background-image);

  

  .card-body {
    border: none;
    border-radius: 30px;
    width: 18rem;
    height: auto;
    padding: 0;
    background-color: var(--White-color);


  }

  .card-header {
    border-bottom: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;


    .card-title{
      text-decoration: none;
      font-size: var(--title-font-size);
      font-weight: 500;
      text-transform: capitalize;
      padding: .1em;
    }

    .card-header-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    
  }
  .card-text{
      font-size: 14px;
      font-family: var(--font-family);
      padding: .1em;
    }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .card-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: .5em;
    }
  }
  .card-count-container{
    display: flex;
    justify-content: space-between;
    margin: 0 1.6rem;
    overflow: hidden;
    padding: 0.8rem 0;
    border-bottom: 1px solid var(--black-a08);
    font-size: var(--small-font);
  }
  .card-count-item{
    display: flex;
    align-items: center;
  }

  .comment-card-button{
    display: grid;
    grid-auto-flow: column;
    justify-content: inherit;
    padding: 0.4rem 1.2rem;
    column-gap: var(--spacing-gap);
  }

  .Like-button, .comment-button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 24px;

    &:hover {
      background-color: transparent;
      color: black;
    }
  }
}


button.react-button{
  background: none;
  border: none;
  padding: 10px 5px;
}

.commentTextAreaRef{
  display: none;
}

