:root {
  --Home-background-image: #F9FBFC;
  --main-color: #0077B7;
  --White-color: #FFFFFF;
  --Black-color: #1B1D27;
  --Red-color: #DE4453;
  --grey-color: #D9E0EA;
  --bs-btn-bg: #ffff;
  --font-family: 'Poppins', sans-serif;

}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  background-color: #F3F2EF;
  font-family: var(--font-family);
}
nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1040;
  
}

.nav-link.active{
  color: var(--main-color);
}

.nav-link:hover{
  color: var(--main-color);
  font-weight: 500;
}
.logout-Btn{
  background-color: var(--main-color);
  color: var(--White-color);
  border: none;
  border-radius: 0;

}

.logout-Btn:hover{
  background-color: var(--White-color);
  color: var(--main-color);
}




.right-column{
  position: sticky;
  order: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  height: calc(100vh - 4rem);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
  overflow-y: auto;
  padding: 0;
}
 @media (max-width: 603px) {
    .card-body {
      width: 100%;
    }
  }