:root {
    --backg-color:#F9FBFC;
    --layout-gutter: 1.2rem;
    --layout-none-max-width: 576px;
}

.dashboard-container{
  
    min-height: 100vh;
    width: 100vw;
    position: relative;

}

.dbh1{
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.dashboard-banner{
    width: 100%;
    height: 200px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    button{
        position: absolute;
        right: 0;
        top: 0;
        margin: 1em;
         
    }
}

.dbh-prof-details{
    padding-left: 24px!important;
    padding-right: 24px!important;

}

.dashboard-avatar{
    display: flex;
    top: 4em;
    width: 160px;
    height: 160px;
    line-height: 0;
    box-sizing: border-box;
    border-radius: 49.9%;
    border: 1px solid #fff;
    padding: 0;
    margin-top: -112px;
    z-index: 4;
    background-color: #fff;

    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.dash-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;

    span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



// AUTH POST STYLES
.card-container{
    display: flex;

}

.card-body{
    width: 350px;
    height: 400px;

    .card-image{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}

.auth-card-button{
    display: flex;
    justify-content: space-between;
    padding-right: 1em;

}
.delete-button{
    background-color: #0077B7;
    border-radius: 47px;
    color: #000000;
}