.profile-card-container{
    width:480px;
    max-width:100%;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color:white;
    position:relative;  
    display: flex;
    flex-direction:column;
    position: relative;
    justify-content: space-evenly;
    border: 2px solid;
}






